/*
==============
JQuery Mobile Theme Template for KYC
Version: 1.0;
Crafted By: Shajed Evan;
==============
*/

/*
=========
960 Fluid Grid
========= 
*/
.container_12 .alpha{clear-left:0;}.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12{margin:0;padding:0;border:0;float:left;}.container_12{overflow:hidden;}.container_12 .grid_1{width:8.333333333333334%;}.container_12 .grid_2{width:16.666666666666668%;}.container_12 .grid_3{width:25%;}.container_12 .grid_4{width:33.333333333333336%;}.container_12 .grid_5{width:41.66666666666667%;}.container_12 .grid_6{width:50%;}.container_12 .grid_7{width:58.333333333333336%;}.container_12 .grid_8{width:66.66666666666667%;}.container_12 .grid_9{width:75%;}.container_12 .grid_10{width:83.33333333333334%;}.container_12 .grid_11{width:91.66666666666667%;}.container_12 .grid_12{width:100%;}.container_12 .prefix_1{padding-left:8.333333333333334%;}.container_12 .prefix_2{padding-left:16.666666666666668%;}.container_12 .prefix_3{padding-left:25%;}.container_12 .prefix_4{padding-left:33.333333333333336%;}.container_12 .prefix_5{padding-left:41.66666666666667%;}.container_12 .prefix_6{padding-left:50%;}.container_12 .prefix_7{padding-left:58.333333333333336%;}.container_12 .prefix_8{padding-left:66.66666666666667%;}.container_12 .prefix_9{padding-left:75%;}.container_12 .prefix_10{padding-left:83.33333333333334%;}.container_12 .prefix_11{padding-left:91.66666666666667%;}.container_12 .prefix_12{padding-left:100%;}.container_12 .suffix_1{padding-right:8.333333333333334%;}.container_12 .suffix_2{padding-right:16.666666666666668%;}.container_12 .suffix_3{padding-right:25%;}.container_12 .suffix_4{padding-right:33.333333333333336%;}.container_12 .suffix_5{padding-right:41.66666666666667%;}.container_12 .suffix_6{padding-right:50%;}.container_12 .suffix_7{padding-right:58.333333333333336%;}.container_12 .suffix_8{padding-right:66.66666666666667%;}.container_12 .suffix_9{padding-right:75%;}.container_12 .suffix_10{padding-right:83.33333333333334%;}.container_12 .suffix_11{padding-right:91.66666666666667%;}.container_12 .suffix_12{padding-right:100%;}.container_16 .alpha{clear-left:0;}.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12,.grid_13,.grid_14,.grid_15,.grid_16{margin:0;padding:0;border:0;float:left;}.container_16{overflow:hidden;}.container_16 .grid_1{width:6.25%;}.container_16 .grid_2{width:12.5%;}.container_16 .grid_3{width:18.75%;}.container_16 .grid_4{width:25%;}.container_16 .grid_5{width:31.25%;}.container_16 .grid_6{width:37.5%;}.container_16 .grid_7{width:43.75%;}.container_16 .grid_8{width:50%;}.container_16 .grid_9{width:56.25%;}.container_16 .grid_10{width:62.5%;}.container_16 .grid_11{width:68.75%;}.container_16 .grid_12{width:75%;}.container_16 .grid_13{width:81.25%;}.container_16 .grid_14{width:87.5%;}.container_16 .grid_15{width:93.75%;}.container_16 .grid_16{width:100%;}.container_16 .prefix_1{padding-left:6.25%;}.container_16 .prefix_2{padding-left:12.5%;}.container_16 .prefix_3{padding-left:18.75%;}.container_16 .prefix_4{padding-left:25%;}.container_16 .prefix_5{padding-left:31.25%;}.container_16 .prefix_6{padding-left:37.5%;}.container_16 .prefix_7{padding-left:43.75%;}.container_16 .prefix_8{padding-left:50%;}.container_16 .prefix_9{padding-left:56.25%;}.container_16 .prefix_10{padding-left:62.5%;}.container_16 .prefix_11{padding-left:68.75%;}.container_16 .prefix_12{padding-left:75%;}.container_16 .prefix_13{padding-left:81.25%;}.container_16 .prefix_14{padding-left:87.5%;}.container_16 .prefix_15{padding-left:93.75%;}.container_16 .prefix_16{padding-left:100%;}.container_16 .suffix_1{padding-right:6.25%;}.container_16 .suffix_2{padding-right:12.5%;}.container_16 .suffix_3{padding-right:18.75%;}.container_16 .suffix_4{padding-right:25%;}.container_16 .suffix_5{padding-right:31.25%;}.container_16 .suffix_6{padding-right:37.5%;}.container_16 .suffix_7{padding-right:43.75%;}.container_16 .suffix_8{padding-right:50%;}.container_16 .suffix_9{padding-right:56.25%;}.container_16 .suffix_10{padding-right:62.5%;}.container_16 .suffix_11{padding-right:68.75%;}.container_16 .suffix_12{padding-right:75%;}.container_16 .suffix_13{padding-right:81.25%;}.container_16 .suffix_14{padding-right:87.5%;}.container_16 .suffix_15{padding-right:93.75%;}.container_16 .suffix_16{padding-right:100%;}

body,.ui-body-a, .ui-overlay-a{ background:#dfdfd3 url('../img/default-background.jpg'); }

body,.ui-body-a, .ui-body-a input, .ui-body-a select, .ui-body-a textarea, .ui-body-a button,.ui-bar-a, .ui-bar-a input, .ui-bar-a select, .ui-bar-a textarea, .ui-bar-a button,.ui-btn-up-a, .ui-btn-hover-a, .ui-btn-down-a, .ui-btn-text{ font-family: 'dincond-mediumregular', serif;}

.white-text{ color:#f6f6e9; }
.

/* Button Styles */
.ui-btn-text{ text-transform: capitalize; font-weight: 400;}
a.kyc-btn{ border: 1px solid #E65B4D;
	margin-bottom:0.6em;
background: white;
font-weight: bold;
display: inline-block;
color: #D95649;
font-size: 16px;
    min-width: 0.75em;
    overflow: hidden;
    padding: 0.6em 20px;
text-shadow: 0 1px 0 white;
text-decoration: none;
background-image: -webkit-gradient(linear,left top,left bottom,from( white ),to( #F4F4F4 ));
background-image: -webkit-linear-gradient( white,#F4F4F4 );
background-image: -moz-linear-gradient( white,#F4F4F4 );
background-image: -ms-linear-gradient( white,#F4F4F4 );
background-image: -o-linear-gradient( white,#F4F4F4 );
background-image: linear-gradient( white,#F4F4F4 );

-webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
 }
a.kyc-btn:hover, a.kyc-btn:focus, a.kyc-btn:active { text-decoration: none;	 border:1px solid #e65b4d ;background:#5f7231 ;font-weight:bold;color:#eeeeee ;text-shadow:0  1px  0  #000000 ;background-image:-webkit-gradient(linear,left top,left bottom,from( #5f7231 ),to( #5f7231 )); background-image:-webkit-linear-gradient( #5f7231,#5f7231 ); background-image:   -moz-linear-gradient( #5f7231,#5f7231 ); background-image:    -ms-linear-gradient( #5f7231,#5f7231 ); background-image:     -o-linear-gradient( #5f7231,#5f7231 ); background-image:        linear-gradient( #5f7231,#5f7231 ); }

/* Header & Logo Title */
h1.logo-title{ background:url('../img/kyc-logo.png') no-repeat 50%; background-size: 60%; text-align: center; text-indent: -9999px; }
.ui-header .ui-title{ min-height: 45px; text-indent: -9999px; line-height: 0; margin-bottom: 3px; margin-top:3px; text-align: center; }
.ui-header{ box-shadow: 0px 1px 3px 1px rgba(111,111,111,0.5) }

/* Slide Menu Styles */
.ui-header > .ui-btn, .ui-footer > .ui-btn{ border:none; background:none; box-shadow: none; top:15px; border-right:1px solid #CCC; }
.ui-header .ui-btn-icon-left > .ui-btn-inner > .ui-icon, .ui-btn-icon-right > .ui-btn-inner > .ui-icon{ top:-1px; }
.ui-header > .ui-btn, .ui-footer > .ui-btn .ut-btn-text{ font-size: 1.3em; }


/* Footer Buttons and Icons  */
.ui-btn-active{ text-shadow:0 1px 1px rgba(111,111,111,0.8); }
.ui-footer .ui-navbar .ui-btn-inner .ui-icon-footer-return-icon{ background:url('themes/images/footer-return-icon.png') no-repeat;}
.ui-footer .ui-navbar .ui-btn-active .ui-btn-inner .ui-icon-footer-return-icon{ background:url('themes/images/footer-return-icon-active.png') no-repeat;}
.ui-footer .ui-navbar .ui-btn-inner .ui-icon-footer-help-icon{ background:url('themes/images/footer-help-icon.png') no-repeat; }
.ui-footer .ui-navbar .ui-btn-active .ui-btn-inner .ui-icon-footer-help-icon{ background:url('themes/images/footer-help-icon-active.png') no-repeat; }
.ui-footer .ui-navbar .ui-btn-inner .ui-icon-footer-info-icon{ background:url('themes/images/footer-info-icon.png') no-repeat;}
.ui-footer .ui-navbar .ui-btn-active .ui-btn-inner .ui-icon-footer-info-icon{ background:url('themes/images/footer-info-icon-active.png') no-repeat;}
.ui-footer .ui-navbar .ui-btn-inner .ui-icon-footer-return-icon,.ui-footer .ui-navbar .ui-btn-inner .ui-icon-footer-help-icon,.ui-footer .ui-navbar .ui-btn-inner .ui-icon-footer-info-icon{ 
	-moz-border-radius: 0px;
-webkit-border-radius: 0px;
border-radius: 0px;
box-shadow: 0;
width:24px;
height: 24px;
left:48%;
}

.ui-footer .ui-navbar li .ui-btn-up-a{ border-color: transparent; }

.ui-footer .ui-navbar li .ui-btn-icon-top .ui-btn-inner{ padding-top:25px; }
.ui-footer .ui-navbar li .ui-btn-inner .ui-btn-text{ top:5px; }

.ui-icon-shadow{ box-shadow: 0;
-webkit-box-shadow:0;
-moz-box-shadow:0;}

/* info Wrapper */

.info-wrapper{ 
	width:98%;
	background: #fffff6;
	border:1px solid #e65b4d;
	-webkit-box-shadow: 2px 2px 2px 3px rgba(111,111,111,0.3);
	        box-shadow: 2px 2px 2px 3px rgba(111,111,111,0.3);
	    }

.info-wrapper-title{ 
	font-size: 1.2em;
	text-transform: uppercase;
	text-align: center;
	border-bottom: 1px solid #E65B4D;
	line-height: 1em;
	margin:5px 0 10px 0;
	padding:0.2em 0.4em;
	color: #E65B4D;
 }

 .info-wrapper-sub-title{ 
 	font-size: 1em;
 	text-transform: uppercase;
	text-align: center;
	border-bottom: 1px solid #E65B4D;
	line-height: 1em;
	margin: -0.2em 0.3em;
padding: 0.3em 1em 0.2em 1em;
  }

 .info-wrapper-content{
 	height: 200px;
 	max-height: 200px;
 	margin: 0.5em 0;
 	font-family: Helvetica,Arial,sans-serif;
 }

 .info-wrapper-content p{ padding:0.3em 0.5em; font-size: 0.8em; color: #5d5d5d; }
 .info-wrapper-content h4{ padding:0.5em 0.5em; font-size: 0.8em; margin:0; color: #E65B4D }
 .info-wrapper .kyc-btn{ margin:4% 40%; }

/* Landing Page Content */
#landingPage .ui-content{ padding:0; }
.landing-welcome img{ max-width: 100%; }
.landing-alert img{ width:90%; max-width: 100%; padding:5px 15px 0 15px; margin-top:-10px; }

/* Help Container */
#helpPage .ui-content, #about .ui-content, #terms .ui-content { padding:0 0 1em 0; overflow: hidden; }
.help-container{  }
.help-container h3{ margin: 0.3em 0; }
.help-container h4{ margin: 0.3em 0; }
.off-white-background{ background:#f6f6e9; padding:1em; }
.help-container img{ width: 32px; height: 32px; max-width: 100%; }
.help-content-title{ text-align: center; margin: 0.3em 0; }
.help-container .container_12{ background:#e8e8dc url("../img/help-container-background.png"); }
.help-container .container_12{ outline: 1px solid #5f7131; margin-bottom:2em; }
.help-container .grid_4, .help-container .grid_8 {  1px solid #5f7131;  }
.help-container .grid_4 img{ vertical-align: middle; margin:30% 20%;  }
.help-container .grid_8 p{ margin:0.3em 0; }

/* Quiz Select Styles */
.quiz-select-content-title{ margin:0.3em 0; text-align: center; font-weight: 400; font-family: 'dincond-regularregular', serif; }
.quiz-select-container li{ border-bottom:1px solid #f4ccb8; padding:0.5em 0; overflow: hidden; }
.quiz-select-container li:last-child{ border-bottom:none; }
.quiz-select-container ul{ outline: 1px solid #e65b4d; list-style: none; padding:0; }
.quiz-select-container li img{ width: 32px; height: 32px; margin:0 0.3em -0.3em 1em; display: block; float:left; }
.quiz-select-container li a{ color: #E65B4D; font-size: 1.5em; display: block; text-decoration: none; font-family: 'dincond-boldbold', serif; font-weight: 700; }
.quiz-select-container li a > span{  display: block;
    float: right;
    overflow: hidden;
    text-align: left;
    width: 75%; }

/* Quiz Info Page Style */
#structureInfoPage .kyc-btn, #belongingsInfoPage .kyc-btn, #liabilityInfoPage .kyc-btn, #rentalInfoPage .kyc-btn, #tellMeMore .kyc-btn { margin:2% 25%; }

/* Question Content Styling */
#structureQuizPage .ui-content, #correctPage .ui-content{ padding:0 0 1em 0; overflow: hidden; }
.score-container{ background: #5f7231; }
.score-container h4{ color: #f6f6e9; text-shadow:none; font-size: 1.3em; font-weight: 400; margin:0; padding: 0.3em 0.5em; }
.score-container span.score-text{ color: #bcbb47; text-shadow:none; padding:0.2em 0.5em 0.4em 0.7em; }
.score-container span.score{ color:#f6f6e9; text-shadow:none; }
.score-counter-container{ display: block; border-left:1px solid #bcbb47; text-align: center; }
.score-nav-counter{ display: block; color:#bcbb47; font-size: 1.5em; margin-bottom: 0.2em }
.ans-count{ color:#f6f6e9;  }
.question-count{ color:#bcbb47; }
.correct{ color: #f6f6e9; }
.ans-count, .question-count, .correct{ text-shadow: none; }

.question-title{ background:#f6f6e9; color: #656363; text-shadow: 0 1px 1px rgba(175,234,201,0.4); text-align: center; padding:0.5em 1em; box-shadow: 0 1px 1px rgba(111,111,111,0.3); }
h4.question-title{ font-size: 1.2em; margin-top:0; }
form.question-form{ margin-bottom: 1em; text-align:left; }

.ans-1{ border:1px solid red;}
.ans1{ border: 1px solid green; }

.ans-1 .qa-icon, .ans1 .qa-icon{ display: block; width:40px; height: 40px; margin:1em 44%; }
.ans-1 .qa-icon{ background: url('../img/answer-icons/ans-wrong.png') no-repeat right top; background-size: 90%; }
.ans1 .qa-icon{ background: url('../img/answer-icons/ans-correct.png') no-repeat right top; background-size: 90%; }

#qContent.question-container{ text-align: center; }

.question-container .form-row{ padding:0.5em 0; border-bottom: 1px solid #ceceaa; box-shadow: 0px 1px 0px #FFF; }
.question-container .form-row:last-child{ border-bottom: none; box-shadow: none; }
.question-container .form-row input[type="radio"]{ float: right; }
.question-container .form-row label{ }
.question-container a.kyc-btn{ margin: 0 auto; }

.question-container .kyc-radio{ background-color: #f6f6f6;
	width:18px;
	height: 18px;
	border: 1px solid #e35041;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 0px;
	clip: rect(0,0,0,0);
    clip: rect(0 0 0 0);
	display: inline-block;
	position: relative; }
.question-container .kyc-radio:checked:after{ content: ' ';
	width: 18px;
	height: 18px;
	border-radius: 0px;
	
	position: absolute;
	background: #99a1a7;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
	text-shadow: 0px;
	left: 3px;
	font-size: 32px; }
.question-container .kyc-radio:checked{background-color: #e9ecee;
	color: #99a1a7;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}
.question-container .kyc-radio:active, .question-container .kyc-radio:checked:active{ 
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.indicator-dots{ display: block; margin:0 auto; }
.dots-container{ margin:0 auto; vertical-align: middle; text-align: center; }
.dots-container .b, .dots-container .a{ -webkit-border-radius: 5em;
	border-radius: 5em; width: 0.5em; height: 0.5em; display: inline-block; border:1px solid #5f7231; text-indent: -999px;
	vertical-align: 
	 }

.dots-container .b{ background:#5f7231; }
.dots-container .a{ background: #fffff6; }

.qa-notification-title{ text-align: center; border-bottom: 1px solid #5f7231; }
h4.qa-notification-title{ font-size: 1.6em; }
.ans-1 .qa-notification-title{ color: #E65B4D; }
.ans1 .qa-notification-title{ color:#5f7131; }

.qa, .qa-next-line, .qa-third-line{ text-align: center; padding:0.2em 0; text-transform: uppercase; }
.qa, .qa-third-line { font-weight: bold; font-family: helvetica, arial, serif; }
.ans1 .qa, .ans1 .qa-next-line,.ans1 .qa-third-line{ color:#5f7231; }
.ans-1 .qa, .ans-1 .qa-next-line,.ans-1 .qa-third-line{ color: #e65b4d } 

#correctPage a.tell-more-btn{ margin:0 5%; }
.button-row{ overflow: hidden; margin:1em 0; }
#qCAContent{ margin-bottom: 1em; }
.qa-content-wrapper{ overflow: hidden; }
.continue-btn img{ width:10px; }

/* Badges Page Style */

.badges-container{  }
.badges-container .badge-content-holder{ margin-bottom: 1.5em; }
.badges-container .score-container .grid_12 h4{ font-family: 'dincond-mediumregular', serif; font-size: 1em; color: #bcbb47; }
.badges-container .score-container .grid_12 h4 span{ font-size: 1.2em; color: #f6f6e9; display: block; }
.badges-container .ui-content{ padding:0 0 1em 0; overflow: hidden; }
.badges-container .grid_12 h4{ text-align: center; font-family: helvetica, arial, serif; margin:0.3em 0; font-size:1.2em;  }
.badges-container .grid_12 p{ text-align: center; font-family: helvetica, arial, serif; margin:0; padding: 0.4em 1em; font-size: 0.8em; }
.badges-container .badge-score{ color: #BCBB47;
font-size: 1.4em;
text-align: center;
left: 40px;
margin-right: -70%; }
.badges-container .badge-score span.badge-number{ color:#d55447; font-size: 1.4em; display: block; font-weight: 500; }
.badges-container .badge-image-container{  }
.badges-container .badge-image-container span.a-level{ background:url('../img/badges-icons/level-a-icon.png') no-repeat center center; background-size: 95%;
display: block;
width: 100%;
height: 160px;
text-indent: -9999px; }
.badges-container .badge-image-container span.b-level{ background:url('../img/badges-icons/level-b-icon.png') no-repeat center center; background-size: 95%;
display: block;
width: 100%;
height: 160px;
text-indent: -9999px; }
.badges-container .badge-image-container span.c-level{ background:url('../img/badges-icons/level-c-icon.png') no-repeat center center; background-size: 95%;
display: block;
width: 100%;
height: 160px;
text-indent: -9999px; }
.badges-container .badge-result{ color: #5F7131;
font-size: 1.4em;
text-align: center;
margin-left: -30%; }
.badges-container .badge-result span.badge-number{ color: #d55447; font-size:1.6em; }
.badges-container .badge-result span.badge-correct{ display: block; }

.badge-reslut-button{ margin:auto 35%; }

/* Result Page */
#resultPage .ui-content{ padding:0 0 1em 0; overflow: hidden; }
.result-header h4{ font-family: 'dincond-mediumregular', serif; font-size: 1.4em; font-weight: normal; text-align: center; margin:0.5em 0; }
.result-container .grid_5{ background: #5f7231; min-height: 70px; }
.result-container .grid_4{ background:#7d8c57; min-height: 70px; outline: 1px dotted #bcbb47; }
.result-container .grid_3{ background: #5f7131; min-height: 70px; text-align: center; }
#structureResult h4, #rentalResult h4, #belongingsResult h4, #liabilityResult h4{ font-size: 1.2em; color: #f6f6e9; font-weight: normal; margin:0.3em 0; padding:0 0.5em; text-shadow:none; }

#structureResult .grid_12, #rentalResult .grid_12, #belongingsResult .grid_12, #liabilityResult .grid_12{ background:#bcbb47; border-top:1px solid #5f7131; border-bottom:1px solid #5f7131; }
#structureResult .grid_12 h4, #rentalResult .grid_12 h4, #belongingsResult .grid_12 h4, #liabilityResult .grid_12 h4{ margin:0.3em 0; padding:0 0.5em; }
#structureResult .grid_12 span.score-text, #rentalResult .grid_12 span.score-text, #belongingsResult .grid_12 span.score-text, #liabilityResult .grid_12 span.score-text{ color:#5F7231; }

.result-container span.score-text{ color: #bcbb47; font-size: 1em; font-family: 'dincond-lightregular', serif; padding:0 0.5em; text-shadow:none; }
.result-container span.score{ color: #f6f6e9; }
.result-container span.result-number{ font-size: 1.2em; }
.result-container span.result-correct{ text-align: center; font-size: 0.8em; display: block; text-align:center; }
.result-container span.a-level{ background:url('../img/badges-icons/level-a-icon.png') no-repeat center center; background-size: 80%;
display: block;
width: 100%;
height: 70px;
text-indent: -9999px; }
.result-container span.b-level{
	 background:url('../img/badges-icons/level-b-icon.png') no-repeat center center; background-size: 80%;
display: block;
width: 100%;
height: 70px;
text-indent: -9999px;
}
.result-container span.c-level{ 
	background:url('../img/badges-icons/level-c-icon.png') no-repeat center center; background-size: 80%;
display: block;
width: 100%;
height: 70px;
text-indent: -9999px;
 }
